@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

img {
    width: 100%;
    border-radius: 12px;
    height: 200px;

    /* A operação de baixo irá manter a imagem com as medidas atuais */
    object-fit: cover;
}

body {
    background-color: #eaeff1;
    font-family: "Raleway", sans-serif;
}

#container {
    max-width: 300px;

    /* Centraliza o container no meio do eixo horizontal*/
    margin: 0 auto;
    
    /* Adiciona um espaço vazio acima do container (20% da "view height") */
    margin-top: 20vh;
}

.cartão {
    background-color: white;
    border: 1px solid #bacdd8;
    border-radius: 12px;
    padding: 8px /* Espaçamento entre a border e o conteudo */
}

.etiqueta {
    padding: 4px 8px;
    border: 1px solid #e5eaed;

    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697
}

.name {
    font-size: 24px;
    font-weight: 600;

    margin-top: 16px; 
}

p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
}

button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;

    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;

    /* Para funcionar precisa ter um margin 0 block e um display block */
    margin: 0 auto;
    display: block;

    /* Como é um objeto clickavel, precisa de um cursor */
    cursor: pointer;
}

button:focus,
button:hover{
    background-color: #0077ff;
    color: #e0efff
}


.detalhes{
    padding: 16px 8px 8px 8px;
}